{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "includes/_meta.html" %}
</head>
<body>
    {% include "includes/_nav.html" %}
    
    {% include 'includes/messages.html' %}

    <div class="d-flex">
        <!-- Sidebar -->
        {% if user.is_authenticated %}
            {% include "includes/_side.html" %}
        {% endif %}
        
        <!-- Main Content -->
        <div class="flex-grow-1 p-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    

   {% include "includes/_footer.html" %}
   {% include "includes/_js.html" %}

</body>
</html>
