{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-4">

{% if user.is_superuser %}
   
        {% comment %} <a href="{% url 'user_management' %}" class="btn btn-primary">Manage Users</a> {% endcomment %}
        <!-- Button to trigger modal -->
        <div class="d-flex justify-content-between align-items-center my-4">
            <h2>{% trans "All Users and Permissions" %}</h2>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userManagementModal">
                {% trans "Add Users" %}
            </button>
        </div>
        
        
        <!-- Modal -->
        <div class="modal fade" id="userManagementModal" tabindex="-1" aria-labelledby="userManagementModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="userManagementModalLabel">{% trans "User Management" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
            
                    <div class="container">
                        <h2 class="my-4">{% trans "Create New User and Assign Permissions" %}</h2>
        
                        <form method="POST" action="{% url "user_management" %}">
                            {% csrf_token %}
                            
                            <!-- Display form errors -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>{% trans "Error" %}:</strong> {% trans "Please correct the errors below." %}
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
        
                            <!-- Username -->
                            <div class="mb-3">
                                <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Username" %}</label>
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {% for error in form.username.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
        
                            <!-- Email -->
                            <div class="mb-3">
                                <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Email" %}</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">
                                        {% for error in form.email.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
        
                            <!-- Password 1 -->
                            <div class="mb-3">
                                <label for="{{ form.password.id_for_label }}" class="form-label">{% trans "Password" %}</label>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
        
                            <!-- Password 2 -->
                            <div class="mb-3">
                                <label for="{{ form.password2.id_for_label }}" class="form-label">{% trans "Confirm Password" %}</label>
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password2.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
        
                        
                            <!-- Permissions (Group them in 4 per row) -->
                            <div class="mb-3">
                                <label class="form-label">{% trans "Permissions" %}</label>
                                <div class="row">
                                    {% for permission in form.permissions %}
                                        <div class="col-3 form-check">
                                            <input type="checkbox" name="permissions" value="{{ permission.data.value }}" class="form-check-input" id="{{ permission.id_for_label }}" {% if permission.data.selected %}checked{% endif %}>
                                            <label class="form-check-label" for="{{ permission.id_for_label }}">
                                                {{ permission.choice_label }}
                                            </label>
                                        </div>
                                        {% if forloop.counter|divisibleby:4 %}
                                            </div><div class="row">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
        
                            <button type="submit" class="btn btn-sm btn-success">{% trans "Create User" %}</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
  
        <!-- Admin View -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Permissions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user, accessible_buttons in users_permissions %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if accessible_buttons %}
                                <div class="btn-group">
                                    {% for button in accessible_buttons %}
                                        <button type="button" class="btn btn-sm btn-success">{{ button }}</button>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>{% trans "No permissions assigned" %}</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2 class="my-4">{% trans "Available Permissions" %}</h2>
        <div class="row">
            {% for label, codename in available_permissions %}
                <div class="col-3">
                    <button type="button" class="btn btn-sm btn-outline-primary mt-2">
                        {{ label }}
                    </button>
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>

{% endblock  %}